@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rubik:ital,wght@0,700;1,400&display=swap');

.about{
    height:auto;
    background-color: #fff6cc;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 15px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Raleway', sans-serif;
    line-height: 2;
}

.about h1 {
    border-bottom: 1px solid #f57657;
}

.textandimage {
    display: flex; /* Use Flexbox to create a two-column layout */
    align-items: center;
    background-color: #fff6cc;
    padding-bottom: 50px;
}

.dotpoints{
    font-family: 'Raleway', sans-serif;
    padding-left: 60px;
}

.dotpoints h2 {
    border-bottom: 1px solid #f57657;
}

.dotpoints p {
    line-height: 1.5;
}

.aboutimg img {
    display: block; /* Make sure the image is a block element */
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 90%;
    border-radius: 10px;
}

@media (max-width: 991px) {
    .textandimage {
        display: flex;
        flex-direction: column; /* Change the direction to column */
        align-items: center;
        padding-bottom: 50px;
    }
    .dotpoints {
        padding-right: 30%;
    }
}