@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rubik:ital,wght@0,700;1,400&display=swap');

/* section */
.banner {
    /* position: relative; */
    width: 100%;
    height:69vh;
    /* overflow: hidden; */
    /* border-radius: 5px; */
    /* z-index: 1; */
    margin-top: 10px;
}

.slide {
    position:absolute;
    width: 100%;
    height: 100%;
}

.slide img{
    position:absolute;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s ease;
}

.slide.active img{
    opacity: 1;
}

/* dots */
.slide-dots {
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    position: absolute;
    bottom: 250px; 
    width: 100%;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid lightgrey;
    border-radius: 50%;
    margin: 0 5px;
}

/* current dot filled*/
.active-dot {
    background-color: #f57657;
}

/* Homepage info below slider*/

.homepage-info{
    background-color: #fff6cc;
}

.homepage-info h1{
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 50px 90px;
    font-weight: 500;
    line-height: 1.5;
}

.homepage-btn-container{
    border: 2px solid #f57657;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    max-width: 35%;
    margin: 50px auto; 
}

.homepage-btn{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #f57657;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    padding: 25px;
}

.homepage-btn-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    transform: translateY(-5px);
}

.homepage-btn:hover {
    color: #f57657;
}

.diversity {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    background-color: #fff6cc;
    padding: 20px;
    margin-top: 30px;
}

.diversity h1 {
    font-weight: 800;
    font-size: 20px;
    color: #f57657;
    border-bottom: 1px solid #f57657;
    padding-bottom: 15px;
}

.diversity h2 {
    font-weight: 500;
    font-size: 16px;
}

.footer {
    background-color: black;
    padding: 10px;
    color: white;
    font-size: 6px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

@media (max-width: 991px) {
    .banner {
        width: 100%;
        height:34vh;
    }

    .slide-dots {
        bottom: 530px; 
        width: 100%;
    }
}