
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rubik:ital,wght@0,700;1,400&display=swap');

.page-container {
    background-color: #fff6cc;
    padding: 10px;
}

main {
    margin: 32px 44px 32px;
    padding: 0px 16px;
    background-color: white;
    border: 1px solid #f57657;
    border-radius: 8px;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.font-weight-normal {
    font-weight: normal;
}

.profile-page {
    margin-top: 20px;
    padding: 10px;
    margin: 10px;
}

.profile-page h4 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.linkedin_url {
    font-family: 'Raleway', sans-serif;
    color: #f57657; 
    text-decoration: underline; 
    display: inline-block; 
}

.profile-page a:hover {
    text-decoration: none;
}

@media (max-width: 991px) {
    .profile-page img {
    height: 75%;
    }
}
