#profile-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
    min-height: 524px;
}


@media (max-width: 991px) {
    #profile-list {
        justify-content: center; /* Center items on tablet screens */
        padding-top: 70px;
    }
}

/* Media query for mobile screens (e.g., smartphones) */
@media (max-width: 767px) {
    #profile-list {
        flex-direction: column; /* Stack items vertically on mobile screens */
        padding-top: 70px; /* Reduce top padding for better spacing */
        width: 100%;
        align-items: center;
    }
}