@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rubik:ital,wght@0,700;1,400&display=swap');

#profile-list {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff6cc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute cards evenly */
    margin-top: 20px;
}

@media (max-width: 991px) {
    #profile-list {
        justify-content: center; /* Center items on tablet screens */
        padding-top: 70px;
    }
}

/* Media query for mobile screens (e.g., smartphones) */
@media (max-width: 767px) {
    #profile-list {
        flex-direction: column; /* Stack items vertically on mobile screens */
        padding-top: 70px; /* Reduce top padding for better spacing */
        width: 100%;
        align-items: center;
    }
}