.form-container {
    max-width: 600px;
    margin: 45px auto;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--purple);
    font-family: var(--default-font-family);
}

.form-input {
    width: 100%;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.submit-button {
    padding: 10px 20px;
    background-color:#f57657;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
    line-height: 27px;
    transition: all 100ms ease-in-out;
    font-size: 16px;
    border: none;
}