@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rubik:ital,wght@0,700;1,400&display=swap');

.logo {
    width: 125x; 
    height: 125px; 
    margin-right: 20px; 
    float: left;
}

#navlinks {
    text-align: right;
    justify-content: flex-end;
    margin-top: 20px;
}

.menu-toggle {
    display: none; 
    cursor: pointer;
}

.hamburger-icon {
    width: 30px; 
    height: 30px;
    fill: #f57657; 
    cursor: pointer;
    transition: 0.4s;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-menu.open a {
    margin: 10px 10px; 
}

.nav-menu a {
    text-decoration: none; 
    font-family: 'Raleway', sans-serif;
    color: #f57657; 
    margin: 50px 10px 10px;
    font-weight: bold; 
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
}

.nav-menu a:hover {
    color: #f4c75f;
    border-color: #f4c75f;
}

@media (max-width: 991px) {
    .menu-toggle {
        display: block; 
}

    .nav-menu {
        display: none; 
        position: absolute;
        top: 60px;
        right: 0;
        background: white;
        border: 1px solid #f57657;
        padding: 10px;
        border-radius: 5px;
        flex-direction: column;
    }

    .nav-menu.open {
        display: flex; 
    }
}