@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rubik:ital,wght@0,700;1,400&display=swap');

.logo {
    width: 125x; 
    height: 125px; 
}

.navbar {
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: space-between;
}

.nav-menu-container {
    justify-content: flex-end; /* Move the .nav-menu to the right */
    display: flex;
}

.nav-menu {
    margin-top: 50px;
    margin-left: 10px; /* Add margin between menu items if needed */
}

.nav-menu a {
    text-decoration: none; 
    font-family: 'Raleway', sans-serif;
    color: #f57657; 
    margin: 10px;
    font-weight: bold; 
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
}

.nav-menu.open a {
    margin: 10px 10px; 
}

.nav-menu a:hover {
    color: #f4c75f;
    border-color: #f4c75f;
}

.hamburger-icon {
    width: 30px; 
    height: 30px;
    fill: #f57657; 
    cursor: pointer;
    transition: 0.4s;
    margin-top: 45px;
    position: absolute; /* Use absolute positioning */
    top: 10px;
    right: 20px;
}

.menu-toggle {
    display: none; 
    cursor: pointer;
}

@media (max-width: 991px) {
    .menu-toggle {
        display: block; 
}

    .nav-menu {
        display: none; 
        position: absolute;
        top: 60px;
        right: 20px;
        background: white;
        border: 1px solid #f57657;
        padding: 10px;
        border-radius: 5px;
        flex-direction: column;
        z-index: 2;
    }

    .nav-menu.open {
        display: flex; 
    }
}