.delete-confirmation,
.delete-update-buttons {
    margin: 30px 20px;
}

.delete-confirmation button,
.update-button,
.delete-button {
    padding: 10px 20px;
    background-color: #f57657;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block; /* Display buttons next to each other */
    transition: all 100ms ease-in-out;
    font-size: 16px;
    border: none;
    margin-right: 10px; /* Add some right margin to separate the buttons */
}

.update-button a {
    text-decoration: none;
    color: white;
}

/* Hover state styles */
.delete-confirmation button:hover,
.update-button:hover,
.delete-button:hover {
    background-color: #ff3c20;
}

/* Active (pressed) state styles */
.delete-confirmation button:active,
.update-button:active,
.delete-button:active {
    transform: scale(0.95);
}
